defaults:
  - override hydra/job_logging: custom
  - _self_

# Speech recording parameters
starting_phrase: Hej, så jeg klar. Sig 'Hey Jarvis' for at starte.
num_seconds_per_chunk: 0.08
calibrate: true
calibration_duration: 3.0
audio_threshold: 300
max_seconds_silence: 2.0
max_seconds_audio: 10.0
follow_up_max_seconds: 5.0
play_back_audio: false

# Wake word detection parameters
wake_word_probability_threshold: 0.5
wake_word_responses:
  - Ja?
  - Hvad så?
  - Halløjsa
  - Halløj
  - Davs
  - Hej med dig
  - Hejsa
  - Halløjhalløj
wake_word_seconds: 1.5

# Speech recognition parameters
asr_model_id: CoRal-project/roest-whisper-1.5b-v2

# Text engine parameters
server: http://localhost:1234/v1
text_model_id: openai/gpt-oss-20b
temperature: 0.6
min_prompt_length: 5
system_prompt: >
  Your name is Jarvis and you are a Danish voice robot. You are sweet, kind and helpful,
  and your answers are always very short and to the point. You never use lists. You
  always answer in Danish. You never use emojis.

  You will get a transcription of what the user said, so there will usually be spelling
  and grammar mistakes. You should try to understand what the user meant, and just
  pretend that that's what they said.

  Today is {weekday}, {month} {day} {year} and the time is {time} (in 24-hour
  format), but you don't need to say that.
tools:
  - type: function
    strict: true
    name: get_weather
    description: >
      The weather forecast for today and tomorrow.
    parameters:
      type: object
      properties:
        location:
          type: string
          description: >
            The city to get the weather for, or an empty string to use the current
            location.
      required:
        - location
  - type: function
    strict: true
    name: set_timer
    description: Set a timer.
    parameters:
      type: object
      properties:
        duration_seconds:
          type: number
          description: >
            The duration of the timer in seconds.
      required:
        - duration_seconds
  - type: function
    strict: true
    name: stop_timer
    description: Stop a timer.
    parameters:
      type: object
      properties:
        duration:
          type: string
          description: >
            The duration of the timer to stop, in the format 'HH:MM:SS', or null to
            stop the timer with the shortest duration. If not specified then default
            to None.
  - type: function
    strict: true
    name: list_timers
    description: List all timers.
  - type: function
    strict: true
    name: get_news
    description: The latest news.
  - type: function
    strict: true
    name: search_web
    description: >
      Search the web for a given query. Use this whenever you need to answer trivia-like
      questions. Always mention the source of the information.
    parameters:
      type: object
      properties:
        keywords:
          type: string
          description: >
            The keywords to search for.
      required:
        - keywords
  - type: function
    strict: true
    name: meow
    description: Make a meow cat sound.

# Parameters for all text outputs - these are specific to the ASR and text engine models
manual_fixes:
  hvor den: hvordan
  solig: solrig
  bliver er: bliver

  er været: er vejret
  erværet: er vejret
  blev været: bliver vejret
  blevr været: bliver vejret
  bliver været: bliver vejret

  er varet: er vejret
  ervaret: er vejret
  blev varet: bliver vejret
  bliver varet: bliver vejret

  er vævet: er vejret
  ervævet: er vejret
  blev vævet: bliver vejret
  bliver vævet: bliver vejret

  er være: er vejret
  ervære: er vejret
  blev være: bliver vejret
  bliver være: bliver vejret

  er erhvervet: er vejret
  ervhervet: er vejret
  blev erhvervet: bliver vejret
  bliver erhvervet: bliver vejret

  er erhveret: er vejret
  ervheret: er vejret
  blev erhveret: bliver vejret
  bliver erhveret: bliver vejret
