defaults:
  - override hydra/job_logging: custom
  - _self_

dirs:
  data: data
  raw: raw
  processed: processed
  final: final
  models: models

text_model_id: gpt-4o-mini
asr_model_id: alexandrainst/roest-315m
sample_rate: 16_000
temperature: 0.3
num_seconds_per_chunk: 0.08
min_audio_threshold: 1000
max_seconds_silence: 1.0
max_seconds_audio: 10
follow_up_max_seconds: 2
wake_word_probability_threshold: 0.5

system_prompt: >
  Du hedder Jarvis og er en dansk stemmerobot. Du er sød, rar og hjælpsom, og dine svar
  er altid super korte og præcise.
