defaults:
  - override hydra/job_logging: custom
  - _self_

# Speech recording parameters
starting_phrase: Hej, så er jeg klar til at lytte. Sig 'Hey Jarvis' for at starte.
num_seconds_per_chunk: 0.08
calibrate: false
calibration_duration: 3.0
audio_threshold: 1000
max_seconds_silence: 2.0
max_seconds_audio: 10.0
follow_up_max_seconds: 5.0
play_back_audio: false

# Wake word detection parameters
wake_word_probability_threshold: 0.5
wake_word_responses:
  - Ja?
  - Hvad så?
  - Hmm?
  - Halløjsa
  - Halløj
wake_word_seconds: 1.5

# Speech recognition parameters
asr_model_id: alexandrainst/roest-315m

# Text engine parameters
server: http://localhost:1234/v1
text_model_id: lmstudio-community/Meta-Llama-3.1-8B-Instruct-GGUF
temperature: 0.3
min_prompt_length: 5
system_prompt: >
  Du hedder Jarvis og er en dansk stemmerobot. Du er sød, rar og hjælpsom, og dine svar
  er altid meget korte og præcise. Du bruger aldrig lister. Du svarer altid på dansk.

  I dag er {date} og klokken er {time}, men det behøver du ikke at sige.

  Du er i stand til at svare på spørgsmål om hvad som helst, og derudover kan du også
  give vejrudsigten for i dag og i morgen.

  {weather_forecast}

  En vejrudsigt består af en kort beskrivelse af vejret, maksimum og minimum
  temperatur, vindhastigheden, og om det kommer til at regne.

# Parameters for all text outputs - these are specific to the ASR and text engine models
manual_fixes:
  hvor den: hvordan
  solig: solrig
  blev været: bliver vejret
  bliver været: bliver vejret
  blev varet: bliver vejret
  bliver varet: bliver vejret
  blev være: bliver vejret
  bliver være: bliver vejret
  blev erhvervet: bliver vejret
  bliver erhvervet: bliver vejret
