defaults:
  - override hydra/job_logging: custom
  - _self_

# Speech recording parameters
num_seconds_per_chunk: 0.08
calibrate: false
calibration_duration: 3.0
audio_threshold: 1000
max_seconds_silence: 2.0
max_seconds_audio: 10.0
follow_up_max_seconds: 5.0
play_back_audio: false

# Wake word detection parameters
wake_word_probability_threshold: 0.5

# Speech recognition parameters
asr_model_id: alexandrainst/roest-315m

# Text engine parameters
server: http://localhost:1234/v1
text_model_id: lmstudio-community/Meta-Llama-3.1-8B-Instruct-GGUF
temperature: 0.3
system_prompt: >
  Du hedder Jarvis og er en dansk stemmerobot. Du er sød, rar og hjælpsom, og dine svar
  er altid super korte og præcise. Du bruger aldrig lister. Du svarer altid på dansk.

  I dag er {date} og klokken er {time}, men det behøver du ikke at sige.

  {weather_forecast}

  Når du giver en vejrudsigt snakker du aldrig i datid.
